/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	background: url('../images/data-science.jpg');
	/*background: url('../images/cookie-monster.jpg');*/
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Besley', serif;
	font-size: 18px;
}

#container {
	background: #0da380;
	width: 430px;
	color: black;
	padding: 15px;
}

h1 {
	color: black;
	font-size: 80px;
}

h2 {
	background: white;
	color: black;
	padding: 5px;
	border-radius: 5px;
}

a {
	color: #c6c904;
	text-decoration: none;
}